RDF Validation Issues

## Description
Issue #14 prevents us from validating https://creativecommons.org/licenses/by-sa/4.0/rdf directly, but we can validate `creativecommons/cc.licenserdf`:[`cc/licenserdf/licenses/creativecommons.org_licenses_by-sa_4.0_.rdf`](https://raw.githubusercontent.com/creativecommons/cc.licenserdf/master/cc/licenserdf/licenses/creativecommons.org_licenses_by-sa_4.0_.rdf)

The **[W3C RDF Validation Results](https://www.w3.org/RDF/Validator/rdfval?URI=https%3A%2F%2Fraw.githubusercontent.com%2Fcreativecommons%2Fcc.licenserdf%2F93b796ad3f2b00362abdfcfa75230763d7b07925%2Fcc%2Flicenserdf%2Flicenses%2Fcreativecommons.org_licenses_by-sa_4.0_.rdf&PARSE=Parse+URI%3A+&TRIPLES_AND_GRAPH=PRINT_TRIPLES&FORMAT=PNG_EMBED)** include the following errors (reproduced below with their appropriate line copied in for clarity):
1. > Error: {W115} Primary subtag must be between 1 and 8 alpha characters: sr@latin
   [Line = 12, Column = 35]
    ```
    <dc:title xml:lang="sr@latin">Attribution-ShareAlike 4.0 International</dc:title>
    ```
2. > Error: {W116} RFC 3066 section 2.3 mandates the use of 'oc' instead of 'oci'.
   [Line = 50, Column = 33]
    ```
    <dc:title xml:lang="oci-es">Attribution-ShareAlike 4.0 International</dc:title
    ```
3. > Error: {W115} Primary subtag must be between 1 and 8 alpha characters: i18n
   [Line = 89, Column = 31]
    ```
    <dc:title xml:lang="i18n">${Attribution-ShareAlike} 4.0 ${International}</dc:title>
    ```

## Expectation
Creative Commons RDF should validate without errors.

The software in this repository has been deprecated by the new CC Legal Tools. The CC Legal Tools App includes a fix for this issue: https://github.com/creativecommons/cc-legal-tools-app/pull/358